

##Video data:

**Field**|**Data**
:-|:-
Title|{{ title }}
Thumbnail|[Link]({{ thumbnail }})
Views|{{ views }}
Length|{{ length }}
Likes|{{ likes }}
Comments|{{ comments }}
Description|{{ description }}

##Channel Data:

**Field**|**Data**
:-|:-
Name|{{ channel }}
Thumbnail|[Link]({{ channelThumb }})
Subscribers|{{ subscribers }}
Videos|{{ videos }}
Views|{{ channelViews }}